.container {
    margin-bottom: 100px;
}

.pink-bg {
    background-color: #fceae8;
    border-radius: 10px;
}

.carousel-item {
    padding: 20px 40px;
}

.price {
    color: #ff136f;
}

.buy-now-button {
    background-image: linear-gradient(to bottom, #ff589b, #ff136f 10%);
    color: #fff;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}

.cat1,
.cat2,
.cat3 {
    border-radius: 5px;
    padding: 5px 20px;
}

.cat1 {
    background-color: #f59f00;
}

.cat2 {
    background-color: #cc5de8;
}

.cat3 {
    background-color: #224ddd;
}

.col-md-4 h2 {
    font-size: 20px;
}

.catagories img {
    width: 100px;
}

.card {
    border: none;
    box-shadow: 5px 5px 10px black;
}

.card-footer {
    padding: .75rem 1.25rem;
    background-color: white;
    border-top: none;
}

#subscribe{
    background-color: #fceae8;
    height: 300px;
}

#subscribe h6{
    color: gray;
}

footer{
    text-align: center;
    color: gray;
}